    {% extends "base/base_layout.html" %}
    <!-- Portfolio Grid Section -->
    {% block content %}
    <section id="map">
        <div class="container">
          <div id="mapid">
          </div>
        </div>
    </section>
    <script>
      var mymap = L.map('mapid').setView([51.505, -0.09], 7);
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
          attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
          maxZoom: 18,
          id: 'lambombo.cqxvxcee',
          accessToken: 'pk.eyJ1IjoibGFtYm9tYm8iLCJhIjoiY2l3bDN6azB4MDA0djJ6cWk4ZzNlbHllZyJ9.YI9DxAFJKoHTN0Wt3f_oPw'
      }).addTo(mymap);
      </script>
    {% endblock %}
